
body{
    background-image: linear-gradient(to top left, red, orange, yellow);
    background-repeat: no-repeat;
    text-align: center;
}
button{
    background-color: rgb(242, 255, 53);
    border-radius: 10px;
    width: 25%;
    padding: 17px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;

}
#s-btn{
    background-color: rgb(90, 247, 51);
}
#welcome{
    font-size: 40px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 450px) {
    body{
          height: 800px;
}
.wrk{
    padding-top: 35%;
}
    button{
        width: 40%;
        font-size: 12.5px;
    }
    #welcome{
        font-size: 32.3px;
    }
    

    
}
